@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: "Poppins", "Roboto", sans-serif;
}

h1 {
    color: #5c5c5c;
}

.calculator {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 9px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    max-width: 350px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
}

label {
    font-size: 24px;
}

input{
    text-align: center;
    margin-top: 0.15rem;
    font-size: 28px;
    width: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

input:focus, input::selection, input:hover {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

button {
    padding: 6px 12px;
    font-size: 22px;
    background-color: rgb(0, 202, 0);
    color: #eee;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(12, 167, 12);
}

#total, #total-amount {
    font-size: 22px;
    margin-top: 0.5rem;
}

#total-amount {
    color: rgb(0, 202, 0);
}

footer {
    margin-top: 2rem;
    text-align: center;
}

footer a i {
    color: black;
    margin-bottom: 1rem;
    transition: 0.4s;
}

footer a i:hover {
    transform: scale(1.3);
}